*.o
*.lo
*.la
*.so
*.so.*
*.a
*.dylib
*.dll
*.exe
*.zip
*.tar.*
!fpc-10a5-9924.patch

build/
obj-*/
debian/.debhelper/
debian/libfprint-*/
debian/tmp/
debian/*.debhelper.log
debian/*.substvars
*.buildinfo
*.changes
*.ddeb
*.dsc
.deps/
.libs/
Makefile
Makefile.in
